
html, body, #root, #presentationRoot, .slide-container, .slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  background: black;

  h1, h2 {
    color: white;
  }
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

.slide-container {
  display: flex;
  overflow: hidden;
}
.slide {
  display: none;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: 0.8s ease-in-out;

  &.active {
    display: flex;
    transform: translateX(0%);
  }

  &.next, &.prev {
    display: flex;
    position: absolute;
  }

  &.next {
    transform: translateX(100%);
  }

  &.prev {
    transform: translateX(-100%);
  }
}
